@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --font-family: 'Source Code Pro', monospace;
    --bg-color:  #222831;
    --primary-color: #EEEEEE; 
    --secondary-color: #FFD369;
    --tertiary-color: #393E46;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
    color: var(--secondary-color);
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin: 40px 0;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    display: block;
    padding: 8px 15px;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    text-decoration: none;
    font-size:2em;
    font-family: var(--font-family);
}
